a:link, a:visited {
  background-color: #C9A24D;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: lightgreen;
}
body {
  background-color: #F5F5F5;
}
