* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: Bisque;
    margin-bottom:20%;
}


nav {
    background-color: Tomato;
    display: flex
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: Coral;
}


.submenu {
    display: none;
    position: absolute;
    background-color: Coral;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 180px;
}

.submenu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: LightSalmon;
}


.dropdown:hover .submenu {
    display: block;
}
.menu .next {
  margin-left: auto;
}

h1 {
  text-align: center; 
  margin-top: 25px; 
}
ul.a {
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 25%;
}
h1,h3,p,label,ul.a,ol {
  color: DarkSlateGray;
  font-family: "Times New Roman",  serif;
}
ol.recette {
  list-style-type: decimal;
  list-style-position: inside ; 
  padding-left: 25%;           
  margin-left: 0;
}


ol.recette li {
  margin-bottom: 10px;
}

table.info {
  width: 50%;               
  margin: 20px auto;        
  border-collapse: collapse; 
  text-align: center;
}

table.info th,
table.info td {
  border: 1px solid #ccc;
  padding: 10px 15px;
}

table.info th {
  background-color: Tomato; 
  color: white;
}

table.info td {
  background-color: lightsalmon; 
  color:white;
}
#personnes {
  width: 45px; 
  padding: 5px
}

#titre {
  color: white;
  font-size: 24px;
  padding-left:0;
  padding-right: 5px;
  font-family: "Times New Roman",  serif;
  font-size : 3vw;
}
.container {
  display: flex;
  align-items: center;  
  gap: 10px;
  margin-left: 5%;
}

.image {
  width: 20%;         
  height: auto;
}
.lien-image {
    text-decoration: none;
}
h1 {
  font-size : 8vw;
}
h3 {
  font-size: clamp(19px, 2vw, 25px);
}
p, li, label, tr, td, th {
  font-size: clamp(17px, 1.5vw, 20px);
}
