* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: Bisque;
    margin-bottom:20%;
}


nav {
    background-color: Tomato;
    display: flex
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: Coral;
}


.submenu {
    display: none;
    position: absolute;
    background-color: Coral;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 180px;
}

.submenu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: LightSalmon;
}


.dropdown:hover .submenu {
    display: block;
}
.menu .next {
  margin-left: auto;
}

h1 {
  text-align: center; 
  margin-top: 25px; 
}
ul.a {
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 0;
}
h1,h3,p,label,ul.a,ol {
  color: DarkSlateGray;
  font-family: "Times New Roman",  serif;
}
ol.recette {
  list-style-type: decimal; 
  padding-left: 33%;

}
ol.recette li {
  margin-bottom: 10px;
}

table.info {
  width: 50%;               
  margin: 20px auto;        
  border-collapse: collapse; 
  text-align: center;
}

table.info th,
table.info td {
  border: 1px solid #ccc;
  padding: 10px 15px;
}

table.info th {
  background-color: Tomato; 
  color: white;
}

table.info td {
  background-color: lightsalmon; 
  color:white;
}
#personnes {
  width: 45px; 
  padding: 5px
}

#titre {
  color: white;
  font-size: 24px;
  padding-left:5px;
  padding-right: 5px;
  font-family: "Times New Roman",  serif;
}
.main-title {
  text-align: center;
  margin-top: 25px;
  color: DarkSlateGray;
  font-size: 38px;
  letter-spacing: 2px;
}
.section {
    margin: 20px auto;
    width: 85%;
}
.section-title {
    margin-bottom: 10px;
}
.list {
    margin: 15px 0;
    padding-left: 25px;
}
.tableau {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.tableau, .tableau th, .tableau td {
    border: 2px solid Tomato;
}
.tableau th, .tableau td {
    padding: 10px;
    text-align: center;
}
.tableau th {
    background-color: Coral;
    color: white;
}
.external-link, .anchor-link {
    color: #1B1B1B;
    text-decoration: underline;
}
.external-link:hover, .anchor-link:hover {
    color: DarkRed;
}
.footer {
    background-color: Tomato;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}
